body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#display {
  background-color: #222;
  color: #fff;
  font-size: 2em;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #666;
}

#browser {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: none; /* 初期状態は非表示 */
  flex-direction: column;
}

#browser-controls {
  display: flex;
  padding: 10px;
  background-color: #444;
  z-index: 1000; /* 他のコンテンツより前面に表示 */
}

#browser-controls button {
  background-color: #666;
  color: #fff;
  border: none;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

#browser-controls input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

#browser-content {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
  background-color: #fff;
}

#loading {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

@keyframes ldio-x2uulkbinc {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.ldio-x2uulkbinc div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #000000;
  border-top-color: transparent;
  border-radius: 50%;
  animation: ldio-x2uulkbinc 1s linear infinite;
  top: 100px;
  left: 100px;
}

.loadingio-spinner-rolling-nq4q5u6dq7r {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-x2uulkbinc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-x2uulkbinc div { box-sizing: content-box; }